<button class="btn btn-danger" routerLink="/card/Urza's Mine" style=>Urza's Mine</button>
<button class="btn btn-warning" routerLink="/card/Natural Affinity">Natural Affinity</button>
<button class="btn btn-info" routerLink="/card/Savra, Queen of the Golgari">Savra, Queen of the Golgari</button>
<button class="btn btn-success" routerLink="/card/Leela, Sevateem Warrior">Leela, Sevateem Warrior</button>
<button class="btn btn-primary" routerLink="/card/Temple of Abandon">Temple of Abandon</button>
<router-outlet></router-outlet>